
html, body {
	font-family: Arial, sans-serif;
	color: #333;
	font-size: 12px;
}

#game {

}

#game .figure {
	width: 12.5%;
	height: 12.5%;
	background-size: 600% 200%;
	position: absolute;
}

#game .figure.selected {
	background-color: yellow;
}

#game .figure[data-color='white'][data-type='king'] {
	background-position: 0% 0%;
}

#game .figure[data-color='white'][data-type='queen'] {
	background-position: 20% 0%;
}

#game .figure[data-color='white'][data-type='rook'] {
	background-position: 40% 0%;
}

#game .figure[data-color='white'][data-type='knight'] {
	background-position: 60% 0%;
}

#game .figure[data-color='white'][data-type='bishop'] {
	background-position: 80% 0%;
}

#game .figure[data-color='white'][data-type='pawn'] {
	background-position: 100% 0%;
}

#game .figure[data-color='black'][data-type='king'] {
	background-position: 0% 100%;
}

#game .figure[data-color='black'][data-type='queen'] {
	background-position: 20% 100%;
}

#game .figure[data-color='black'][data-type='rook'] {
	background-position: 40% 100%;
}

#game .figure[data-color='black'][data-type='knight'] {
	background-position: 60% 100%;
}

#game .figure[data-color='black'][data-type='bishop'] {
	background-position: 80% 100%;
}

#game .figure[data-color='black'][data-type='pawn'] {
	background-position: 100% 100%;
}

#game .figure[data-position-x="0"] { left:  0.0%; }
#game .figure[data-position-x="1"] { left: 12.5%; }
#game .figure[data-position-x="2"] { left: 25.0%; }
#game .figure[data-position-x="3"] { left: 37.5%; }
#game .figure[data-position-x="4"] { left: 50.0%; }
#game .figure[data-position-x="5"] { left: 62.5%; }
#game .figure[data-position-x="6"] { left: 75.0%; }
#game .figure[data-position-x="7"] { left: 87.5%; }

#game .figure[data-position-y="0"] { top: 87.5%;  }
#game .figure[data-position-y="1"] { top: 75.0%;  }
#game .figure[data-position-y="2"] { top: 62.5%;  }
#game .figure[data-position-y="3"] { top: 50.0%;  }
#game .figure[data-position-y="4"] { top: 37.5%;  }
#game .figure[data-position-y="5"] { top: 25.0%;  }
#game .figure[data-position-y="6"] { top: 12.5%;  }
#game .figure[data-position-y="7"] { top:  0.0%;  }

#gameboard {
	background-image: url('board.png');
	background-size: 100% 100%;
}

#fields {
	width: 80%;
	height: 80%;
	position: relative;
	top: 10%;
	left: 10%;
}

#chat {
	border: 1px solid #333;
}

#chat #messages {
	background-color: #EEE;
	height: 200px;
	overflow-y: scroll;
}

#chat #messages p {
	margin: 1px 0 1px 0;
}

#chat #messages .message-type-me {
	color: blue;
}

#chat #messages .message-type-opponent {
	color: red;
}

#chat #messages .message-type-notice {
	font-style: italic;
}

#chat #chat-write-message {
	width: 100%;
}
